{% extends "flask_user/_authorized_base.html" %} {% block extra_styles %}
<style>
  th {
    border: 1px solid ghostwhite 0.6px;
    background-color: darkgrey;
  }

  .white {
    background-color: white;
  }
  .bisque {
    background-color: bisque;
  }
  .data_table {
    width: 80%  !important;
    margin-left: 10%;
}
</style>

{% endblock %}

{% block responsiveness %}

{% block content %}
<div class="data_table">
  <table style="width: 100%" border="0">
      <caption>{{title or "not found"}}</caption>
    <thead>
      <tr>
        <th>#</th>
        {% for heading in headings %}
        <th>{{heading|title}}</th>
        {% endfor %}
    </tr>
</thead>

    {% for row in rows %}
    <tr class="{{ loop.cycle('white', 'bisque') }}">
        <td>{{loop.index}}</td>
        {% for value in row.values() %}
            <td>{{value}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
{% endblock %}

{% block extra_js %}

var json = {{json_data}}
var title = {{title}}
console.log(`JSON->\t${json}`)
console.log(`title->\t${title}`)

function sortJsonField(field){

    function sortJson(a,b){
        if(field == "market"){ return a.market > b.market? 1 : -1; }else
        if(field == "stats"){ return a.stats > b.stats? 1 : -1; }else
        if(field == "info"){ return a.info > b.info? 1 : -1; }else
        if(field == "type"){ return a.type > b.type? 1 : -1; }else
        if(field == "positive"){ return a.positive > b.positive? 1 : -1; }else
        if(field == "negative"){ return a.negative > b.negative? 1 : -1; }else
        return a.market > b.market? 1 : -1;
    }

    // No need to assign this to a new array.
    json[title].sort(sortJson);

    showJSON();
};

function showJSON(){

    // May empty the ul/ol before doing this? up to you..
    $.each(json.users,function(i,row){ 
        $("#output").append(
            '<li>' + row.id + row.name + row.job + '</li>'
        );
    });

};
{% endblock %}
