{% extends "flask_user/_authorized_base.html" %} {% block extra_styles %}
<style>
  th {
    border: 1px solid ghostwhite 0.6px;
    background-color: darkgrey;
  }

  .white {
    background-color: white;
  }
  .bisque {
    background-color: bisque;
  }
  .data_table {
    width: 80%  !important;
    margin-left: 10%;
}
</style>

{% endblock %}

{% block responsiveness %}

{% block content %}
<div class="data_table">
  <table style="width: 100%" border="0">
      <caption>{{title or "not found"}}</caption>
    <thead>
      <tr>
        <th>#</th>
        {% for heading in headings %}
        <th>{{heading|title}}</th>
        {% endfor %}
    </tr>
</thead>

    {% for row in rows %}
    <tr class="{{ loop.cycle('white', 'bisque') }}">
        <td>{{loop.index}}</td>
        {% for value in row.values() %}
            <td>{{value}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
{% endblock %}
