{% extends "flask_user/_authorized_base.html" %} {% block extra_styles %}
<style>
  th {
    border: 1px solid ghostwhite 0.6px;
    background-color: darkgrey;
  }

  .white {
    background-color: white;
  }
  .bisque {
    background-color: bisque;
  }
  .data_table {
    width: 80%  !important;
    margin-left: 10%;
}
</style>

{% endblock %}

{% block responsiveness %}

{% block content %}
<div class="data_table">
  <table style="width: 100%" border="0">
      <caption>{{title or "not found"}}</caption>
    <thead>
      <tr>
        <th>#</th>
        {% for heading in headings %}
        <th onclick="filter_rows('{{heading}}')">{{heading|title}}<span class="caret"></span></th>
        {% endfor %}
    </tr>
</thead>
<tbody id="tbody">
  
</tbody>
  </table>
</div>
{% endblock %}
{% endblock %}

{% block extra_js %}
<script>
  function filter_rows(field=null) {
    function sortJson(a,b){
      if(field == "market"){ return a.market > b.market? 1 : -1; }else
      if(field == "stats"){ return a.stats > b.stats? 1 : -1; }else
      if(field == "info"){ return a.info > b.info? 1 : -1; }else
      if(field == "type"){ return a.type > b.type? 1 : -1; }else
      if(field == "positive"){ return a.positive > b.positive? 1 : -1; }else
      if(field == "negative"){ return a.negative > b.negative? 1 : -1; }else
      return a.market > b.market? 1 : -1;
  }

    function showJson(){
      $("#tbody").html("");
      $.each(rows, (i, row)=>{
        let backgroundColor = i%2? "bisque":"white"
        $("#tbody").append(

        `hel<tr class=${backgroundColor}>
          <td>${i+1}</td>
          <td>${row.market}</td>
          <td>${row.stats}</td>
          <td>${row.info}</td>
          <td>${row.type}</td>
          <td>${row.positive}</td>
          <td>${row.negative}</td>
        </tr>`
        )
      })
    }

  let rows = {{ rows|safe }}
  rows.sort(sortJson);
  showJson()
  return rows;
  }

  filter_rows()
</script>
{% endblock %}
