{% extends 'flask_user/_authorized_base.html' %} {% block content %}
<style type="text/css">
  td {
    padding: 0 30px 0 0;
  }

</style>

<h1>User Profile</h1>
<p><b>Email:</b> {{current_user.email}}</p>
<p><b>First Name:</b> {{current_user.first_name}}</p>
<p><b>Last Name:</b> {{current_user.last_name}}</p>
<p><b>Username:</b> {{current_user.username}}</p>

<h1>Referrals</h1>
<table>
  <thead>
    <th>User</th>
    <th>Status</th>
  </thead>
  <tbody>
    {% for referral in referrals %}
    <td>{{referral.email}}</td>
    <td>{{"Active" if referral.inviter_earned_reward else "Inactive"}}</td>
    {% endfor %}
  </tbody>
</table>

<h1>Rewards</h1>
<p><b>
Total unused reward: {{rewards | length}}
</b></p>
<h4><a href={{url_for('user.edit_user_profile')}}>Edit Profile</a></h4>

{% endblock content%}
